<mat-toolbar>
  <div class="toolbar-wrapper">
    <div class="toolbar-content-left">
      <mat-icon class="menu-mobile" (click)="triggerMenu()">menu</mat-icon>
      <div class="titles-wrapper">
        <h1 class="toolbar-title">NOVA ADMISSÃO COOPERADO</h1>
        <span class="toolbar-breadcrumbs"
          >Cadastro/ Admissão do Cooperado/ Nova Admissão de Cooperado</span
        >
      </div>
    </div>
    <div class="toolbar-content-right">
      <mat-icon
        class="alerts"
        matBadge="7"
        matBadgeColor="warn"
        fontSet="material-icons-outlined"
        >notifications</mat-icon
      >
      <button mat-stroked-button>VIACREDI</button>
      <div
        class="avatar"
        matBadge="settings"
        matBadgePosition="below"
        matBadgeIcon="settings"
        matBadgeIconColor="#457d97"
      ></div>
      <mat-icon class="settings-mobile">settings</mat-icon>
    </div>
  </div>
</mat-toolbar>
