.mat-toolbar {
  width: 100%;
  padding: 0;
  height: 6rem;

  .toolbar-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;

    .toolbar-content-left {
      .menu-mobile {
        color: #457d97;
        cursor: pointer;
      }

      .toolbar-title {
        font-size: 1.5rem;
        font-weight: 600;
        color: #040f14;
      }

      .toolbar-breadcrumbs {
        font-size: 0.75rem;
        font-weight: 400;
        color: #889499;
      }
    }

    .toolbar-content-right {
      width: 30%;
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
      align-items: center;

      .alerts {
        color: #457d97;
      }

      .avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid #457d97;
        background-image: url("/assets/images/avatar.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }

      .mat-stroked-button {
        border-radius: 1.2rem;
        border: 1px solid #457d97;
        padding: 0 1.5rem;
        color: #457d97;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .mat-toolbar .toolbar-wrapper .toolbar-content-left {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 730px) {
  .mat-toolbar .toolbar-wrapper {
    padding: 1rem;

    .toolbar-content-left {
      .toolbar-title {
        font-size: 1rem;
      }

      .toolbar-breadcrumbs {
        display: none;
      }
    }

    .toolbar-content-right {
      .alerts,
      .avatar,
      .mat-stroked-button {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 731px) {
  .mat-toolbar .toolbar-wrapper .toolbar-content-right .settings-mobile {
    display: none;
  }
}

@media screen and (min-width: 1201px) {
  .mat-toolbar .toolbar-wrapper .toolbar-content-left .menu-mobile {
    display: none;
  }
}
