<mat-toolbar>
  <div class="toolbar-wrapper">
    <div class="toolbar-content-left">
      <h1>NOVA ADMISSAO COOPERADO</h1>
      <span>Cadastro/ Admissao do Cooperado/ Nova Admisao de Cooperado</span>
    </div>
    <div class="toolbar-content-right">
      <mat-icon matBadge="7" matBadgeColor="warn">notifications</mat-icon>
      <button mat-stroked-button>VIACREDI</button>
      <div
        class="avatar"
        matBadge="settings"
        matBadgePosition="below"
        matBadgeIcon="settings"
        matBadgeIconColor="#457d97"
      ></div>
    </div>
  </div>
</mat-toolbar>
