<section class="menu">
  <div *ngIf="isExpanded" id="nav-img">
    <img src="./assets/images/logo.png" alt="Ailo brand" />
  </div>

  <div *ngIf="!isExpanded" id="nav-img-small">
    <img src="./assets/images/small-logo.svg" alt="Ailo brand" />
  </div>

  <div class="links">
    <ul role="list">
      <li (click)="handleMenuClick()" role="listitem" id="menu-icon">
        <mat-icon class="icon" fontSet="material-icons-outlined">menu</mat-icon>
      </li>

      <li role="listitem">
        <mat-icon class="icon" fontSet="material-icons-outlined"
          >search</mat-icon
        >
        <input *ngIf="isExpanded" type="text" placeholder="Buscar item" />
      </li>

      <li role="listitem">
        <mat-icon class="icon" fontSet="material-icons-outlined">star</mat-icon>
        <span *ngIf="isExpanded">Favoritos</span>
      </li>

      <li role="listitem">
        <mat-icon class="icon" fontSet="material-icons-outlined">sms</mat-icon>
        <span *ngIf="isExpanded">Atendimento</span>
      </li>

      <li role="listitem">
        <mat-icon class="icon" fontSet="material-icons-outlined">tune</mat-icon>
        <span *ngIf="isExpanded">Cadastro</span>
      </li>

      <li role="listitem">
        <mat-icon class="icon" fontSet="material-icons-outlined"
          >account_balance</mat-icon
        >
        <span *ngIf="isExpanded">Demais telas/ rotinas</span>
      </li>
    </ul>
  </div>
</section>
