<mat-sidenav-container autosize>
  <mat-sidenav disableClose="true" mode="side" opened>
    <app-navigation></app-navigation>
  </mat-sidenav>
  <mat-sidenav
    #sidenav2
    mode="over"
    hasBackdrop="true"
    position="end"
    fixedInViewport="true"
    fixedTopGap="top"
    fixedBottomGap="bottom"
  >
    <app-navigation></app-navigation>
  </mat-sidenav>
  <mat-sidenav-content class="wrapper">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
