<div class="steper-wrapper">
  <mat-stepper
    labelPosition="bottom"
    #stepper
    [orientation]="stepperOrientation"
  >
    <ng-template matStepperIcon="number" class="step-icon"> </ng-template>
    <mat-step>
      <ng-template matStepLabel>Início</ng-template>
      <section class="content-wrapper">
        <app-first-step></app-first-step>
      </section>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Documentos</ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Dados cadastrais</ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Admissão</ng-template>
    </mat-step>
  </mat-stepper>
</div>
